/target/
/logs/
/.classpath
/.project
/.springBeans
/.settings/
/transaction-logs/
.idea/
/.apt_generated/
/.factorypath
/.factorypath
/*.iml
/.vscode/
**/target/
.classpath
**/.settings/
.project
/**/*.iml
*.log
*.factorypath